<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<title th:text="#{title.admin.user.list}"></title>
</head>
<body>
	<main layout:fragment="content">
		<div class="container mt-4" style="max-width: 800px;">
			<!-- 大見出し -->
			<h2 class="fw-bold" th:text="#{label.admin.user.list.title}"></h2>

			<hr class="border-2 opacity-100">

			<div class="mb-4">
				<form th:action="@{/admin/user/list}" method="get">
					<div class="d-flex justify-content-end align-items-center gap-2">
						<!-- 入力フォーム -->
						<input type="search" name="keyword" th:value="${keyword}" class="form-control w-50" th:placeholder="#{placeholder.admin.user.list.nameOrEmail}">
						<!-- 検索ボタン -->
						<button type="submit" class="btn btn-dark text-nowrap" th:text="#{btn.admin.user.list.search}"></button>
					</div>
				</form>
			</div>
			<!-- ユーザーリスト -->
			<div class="table-responsive">
				<table class="table table-bordered table-hover align-middle bg-white shadow-sm">
					<thead class="table-dark">
						<tr>
							<th th:text="#{label.admin.user.list.id}"></th>
							<th th:text="#{label.admin.user.list.name}"></th>
							<th th:text="#{label.admin.user.list.email}"></th>
							<th th:text="#{label.admin.user.list.detail}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${pagination.content}" class="fw-bold">
							<!-- ID -->
							<td th:text="${user.id}"></td>
							<!-- 氏名 -->
							<td th:text="${user.name}"></td>
							<!-- メールアドレス -->
							<td th:text="${user.email}"></td>
							<!-- 詳細を表示ボタン -->
							<td class="text-center"><a th:href="@{/admin/user/detail/{id}(id=${user.id})}" class="btn btn-primary btn-sm px-3" th:text="#{btn.admin.user.list.detail}"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- ページネーション -->
			<nav th:if="${pagination.totalPages > 1}" aria-label="一般ユーザー一覧ページナビゲーション" class="mt-5">
				<ul class="pagination justify-content-center d-flex gap-1">
			
					<li class="page-item" th:classappend="${pagination.currentPage == 0} ? 'disabled'"><a
							class="page-link text-dark border-dark rounded-1"
							th:href="@{/admin/user/list(keyword=${keyword}, page=${pagination.currentPage - 1})}"
							th:text="#{common.pagination.prev}"></a>
					</li>
			
					<li class="page-item" th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
						th:classappend="${i == pagination.currentPage} ? 'active'"><a
							class="page-link text-dark border-dark rounded-1"
							th:href="@{/admin/user/list(keyword=${keyword}, page=${i})}" 
							th:text="${i + 1}"></a>
					</li>
			
					<li class="page-item" th:classappend="${pagination.currentPage == pagination.totalPages - 1} ? 'disabled'"><a
							class="page-link text-dark border-dark rounded-1"
							th:href="@{/admin/user/list(keyword=${keyword}, page=${pagination.currentPage + 1})}"
							th:text="#{common.pagination.next}"></a>
					</li>
				</ul>
			</nav>
			<!-- 戻るボタン -->
			<div class="mt-4 text-center">
				<a th:href="@{/admin/goods/index}" class="btn btn-outline-secondary px-4" th:text="#{btn.admin.user.list.back}"></a>
			</div>
		</div>
	</main>
</body>
</html>