<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/layout}">
<head>
    <title th:text="#{title.order.history}"></title>
</head>
<body>
    <main layout:fragment="content" >
    	
    	<div class="container mt-4" style="max-width: 800px;">
    		<!-- 大見出し -->
    		<h1 class="text-center mb-3" th:text="#{label.order.history.title}"></h1>
    		
    		<hr class="border-2 opacity-100">
        
	        <div th:if="${#lists.isEmpty(pagination.content)}" class="text-center my-5">
	            <p class="text-muted" th:text="#{msg.order.history.noOrderHistory}"></p>
	        </div>
	
	        <div th:unless="${#lists.isEmpty(pagination.content)}" th:each="item : ${pagination.content}" class="card mb-4 shadow-sm border">
	            <div class="card-header bg-light py-3 border-bottom">
	                <div class="d-flex gap-5 mb-3">
	                	<!-- 注文日 -->
                        <div>
                            <div class="text-muted small fw-bold" th:text="#{label.order.history.orderedAt}"></div>
                            <div class="fw-bold" th:text="${#temporals.format(item.order.orderedAt, 'yyyy年MM月dd日')}"></div>
                        </div>
                        <!-- 合計金額 -->
                        <div>
                            <div class="text-muted small fw-bold" th:text="#{label.order.history.totalAmount}"></div>
                            <div class="fw-bold text-danger" th:text="#{common.price.format.symbol(${item.order.totalPrice})}"></div>
                        </div>
                	</div>
                	<!-- お届け先 -->
                	<div>
                		<div class="text-muted small fw-bold" th:text="#{label.order.history.address}"></div>
                        <div class="fw-bold" th:text="#{common.zipCode.format(${item.order.orderedZipCode})} + ' ' + ${item.order.orderedAddress}"></div>
                        <div class="fw-bold" th:text="#{common.user.honorific(${item.order.orderedName})}"></div>
                	</div>
	            </div>
	
	            <div class="card-body bg-white py-4">
	                <div th:each="detail, stat : ${item.details}" 
	                     class="row align-items-center" 
	                     th:classappend="${!stat.last} ? 'mb-4 border-bottom pb-3' : ''">
	                    
	                    <div class="d-flex gap-3 align-items-start">
	                    	<!-- 商品画像 -->
						    <div class="d-flex align-items-center justify-content-center flex-shrink-0" style="width: 80px; height: 80px;">
						        <img th:src="${detail.getOrderedImageUrl()}" class="w-100 h-100 object-fit-contain" th:alt="${detail.orderedName}">
						    </div>
						    <!-- 購入商品名 -->
						    <div class="my-auto">
						        <h6 class="mb-2 fw-bold text-dark" th:text="${detail.orderedName}"></h6>
						        <div>
							        <span class="text-muted small" th:text="#{label.order.history.price(${#numbers.formatInteger(detail.orderedPrice, 1, 'COMMA')})}"></span>
							        <span class="badge bg-secondary ms-2" th:text="#{common.quantity.format(${detail.quantity})}"></span>
							    </div>
						    </div>
						</div>
	                </div>
	            </div>
	        </div>
	        <!-- ページネーション -->
	        <nav th:if="${pagination.totalPages > 1}" aria-label="注文履歴ページナビゲーション" class="mt-5">
				<ul class="pagination justify-content-center d-flex gap-1">
			
					<li class="page-item" th:classappend="${pagination.currentPage == 0} ? 'disabled'">
						<a class="page-link text-dark border-dark rounded-1"
							th:href="@{/order/history(page=${pagination.currentPage - 1})}" 
							th:text="#{common.pagination.prev}"></a>
					</li>
			
					<li class="page-item" th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
						th:classappend="${i == pagination.currentPage} ? 'active'">
						<a class="page-link text-dark border-dark rounded-1"
							th:href="@{/order/history(page=${i})}" 
							th:text="${i + 1}"></a>
					</li>
			
					<li class="page-item" th:classappend="${pagination.currentPage == pagination.totalPages - 1} ? 'disabled'">
						<a class="page-link text-dark border-dark rounded-1"
							th:href="@{/order/history(page=${pagination.currentPage + 1})}" 
							th:text="#{common.pagination.next}"></a>
					</li>
				</ul>
			</nav>
	        <div class="text-center my-3">
	            <a th:href="@{/goods/index}" class="btn btn-outline-secondary px-4 py-2 shadow-sm" th:text="#{btn.order.history.back}"></a>
	        </div>
    	</div>
    </main>
</body>
</html>