<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		layout:decorate="~{layout/layout}">
<head>
	<title>グッズ一覧(一般ユーザー)</title>
</head>
<body>
	<main layout:fragment="content">
		<div class="container my-5" style="max-width: 900px;">
			
			<div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 1080;">
    
			    <div data-cart-success-toast class="toast align-items-center text-white bg-success border-0" data-bs-delay="2000" role="alert" aria-live="assertive" aria-atomic="true">
			        <div class="d-flex">
			            <div class="toast-body">カートに追加しました!</div>
			        </div>
			    </div>
			
			    <div data-cart-error-toast class="toast align-items-center text-white bg-danger border-0" data-bs-delay="2000" role="alert" aria-live="assertive" aria-atomic="true">
			        <div class="d-flex">
		            	<div class="toast-body">エラーが発生しました!</div>
		        	</div>
			    </div>
			</div>
			
			<h1 class="mb-4">グッズ一覧</h1>
			<a th:href="@{/cart/index}">カート内容へ</a>
	
			<hr>
	
			<div class="row row-cols-1 row-cols-md-4 g-4">
				<div class="col" th:each="item : ${goodsList}">
					<div class="card h-100 shadow-sm">
								
						<div class="d-flex align-items-center justify-content-center" style="height: 160px;">
					        <img th:src="${item.getImageUrl()}" 
					             class="w-50 pt-3 object-fit-contain" 
					             th:alt="${item.goods.name}">
					    </div>
					    
					    <hr>
								     
						<div class="card-body d-flex flex-column">
							<h5 class="card-title" th:text="${item.goods.name}">商品名</h5>
							<p class="card-text text-danger mb-0" th:text="|¥ ${item.goods.price}|">\0</p>
							<div class="mb-3">
								<span class="badge rounded-pill bg-secondary fw-light" th:text="${item.category.name}"></span>
							</div>
							
							<div class="d-flex gap-1 mt-auto">
								<button type="button" 
										class="btn btn-outline-secondary btn-sm flex-fill text-nowrap small py-1 px-1" 
										data-bs-toggle="popover" 
										data-bs-placement="top" 
										data-bs-container="body"
										th:data-bs-title="${item.goods.name}" 
										th:data-bs-content="${item.goods.description}">
									商品説明
								</button>
								<form th:action="@{/api/cart/add}" method="post" data-cart-add-form class="flex-fill d-flex m-0">
									<input type="hidden" name="goodsId" th:value="${item.goods.id}">
								 
									<button type="submit" class="btn btn-primary btn-sm w-100 flex-fill text-nowrap small py-1 px-1">
										カートに追加
									</button>
								</form>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			
			<nav aria-label="グッズ一覧ページナビゲーション" class="mt-5">
				<ul class="pagination justify-content-center">
					<li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
						<a class="page-link" th:href="@{/goods/index(page=${currentPage - 1})}">前へ</a>
					</li>
	
					<li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'">
						<a class="page-link" th:href="@{/goods/index(page=${i})}" th:text="${i + 1}"></a>
					</li>
	
					<li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
						<a class="page-link" th:href="@{/goods/index(page=${currentPage + 1})}">次へ</a>
					</li>
				</ul>
			</nav>
		</div>
	</main>
</body>
</html>