<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		layout:decorate="~{layout/layout}">
<head>
	<title>グッズ一覧(一般ユーザー)</title>
</head>
<body>
	<main layout:fragment="content">
		<div class="container my-5" style="max-width: 900px;">
			
			<!-- Ajax通知メッセージエリア -->
			<div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 1080;">
    
			    <div data-cart-success-toast class="toast align-items-center text-white bg-success border-0" data-bs-delay="2000" role="alert" aria-live="assertive" aria-atomic="true">
			        <div class="d-flex">
			            <div class="toast-body">カートに追加しました!</div>
			        </div>
			    </div>
			
			    <div data-cart-error-toast class="toast align-items-center text-white bg-danger border-0" data-bs-delay="2000" role="alert" aria-live="assertive" aria-atomic="true">
			        <div class="d-flex">
		            	<div class="toast-body">エラーが発生しました!</div>
		        	</div>
			    </div>
			</div>
			
			<h1 class="mb-4">グッズ一覧</h1>
			<!-- カート内容の表示(一時的) -->
			<a th:href="@{/cart/index}">カート内容へ</a>
	
			<hr>
	
			<div class="row row-cols-1 row-cols-md-4 g-4">
				<div class="col" th:each="goods : ${goodsList}">
					<div class="card h-100 shadow-sm">
						<!-- 商品画像 -->
						<img th:src="${goods.image}" class="card-img-top" alt="商品画像" style="height: 150px; object-fit: cover; background: #eee;">
	
						<div class="card-body">
							<!-- 商品名 -->
							<h5 class="card-title" th:text="${goods.name}">商品名</h5>
							<!-- 価格 -->
							<p class="card-text text-danger mb-0" th:text="|¥ ${goods.price}|">\0</p><!-- リテラル置換で価格を表示 -->
							<!-- カテゴリ -->
							<span class="badge rounded-pill bg-secondary fw-light mb-3" th:text="${goods.categoryName}"></span>
							<div class="d-flex gap-1">
								<!-- 商品説明ボタン -->
								<button type="button" 
										class="btn btn-outline-secondary btn-sm flex-fill text-nowrap small py-1 px-1" 
										data-bs-toggle="popover" 
										data-bs-placement="top" 
										data-bs-container="body"
										th:data-bs-title="${goods.name}" 
										th:data-bs-content="${goods.description}">
									商品説明
								</button>
								<!-- カートに追加ボタン -->
								<form th:action="@{/api/cart/add}" method="post" data-cart-add-form class="flex-fill d-flex">
									<input type="hidden" name="goodsId" th:value="${goods.id}">
								 
									<button type="submit" class="btn btn-primary btn-sm w-100 flex-fill text-nowrap small py-1 px-1">
										カートに追加
									</button>
								</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<nav aria-label="Page navigation" class="mt-5">
				<ul class="pagination justify-content-center">
					<li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'"><a class="page-item page-link" th:href="@{/goods/index(page=${currentPage - 1})}">前へ</a></li>
	
					<li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'"><a class="page-link" th:href="@{/goods/index(page=${i})}" th:text="${i + 1}"></a></li>
	
					<li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'"><a class="page-link" th:href="@{/goods/index(page=${currentPage + 1})}">次へ</a></li>
				</ul>
			</nav>
		</div>
	</main>
</body>
</html>