<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.CartMapper">
	
	<resultMap id="CartItemMap" type="CartItem">
	
		<id property="userId" column="user_id"/>
		<id property="goodsId" column="goods_id"/>
		
		<result property="quantity" column="quantity"/>
		
		<association property="goods" javaType="Goods">
			<id property="id" column="id"/>
			<result property="name" column="name"/>
			<result property="price" column="price"/>
			<result property="image" column="image"/>
			<result property="isDeleted" column="is_deleted"/>
		</association>
	</resultMap>
	
	<!-- カートのグッズを取得 -->
	<select id="selectByUserIdAndGoodsId" resultType="Cart">
		SELECT * FROM cart 
		WHERE user_id = #{userId} 
		AND goods_id = #{goodsId}
	</select>
	
	<!-- カートにグッズを追加 -->
	<insert id="insert">
		INSERT INTO cart (user_id, goods_id, quantity) 
		VALUES (#{userId}, #{goodsId}, #{quantity}) 
	</insert>
	
	<!-- グッズの個数を更新 -->
	<update id="updateQuantity">
		UPDATE cart 
		SET quantity = #{quantity} 
		WHERE user_id = #{userId} 
		AND goods_id = #{goodsId}
	</update>
	
	<!-- ログインユーザーのカート内のグッズをすべて取得 -->
	<select id="findByUserId" resultMap="CartItemMap">
		SELECT
			g.id, 
			g.name, 
			g.price, 
			g.image, 
			c.quantity, 
			g.is_deleted 
		FROM
			cart AS c
		JOIN 
			goods AS g ON c.goods_id = g.id
		WHERE
			c.user_id = #{userId}
	</select>
	
	<!-- 合計金額を取得する -->
	<select id="selectTotalAmountByUserId" resultType="int">
		SELECT 
	        COALESCE(SUM(g.price * c.quantity), 0) 
	    FROM 
	        ec_db.cart AS c
	    INNER JOIN 
	        ec_db.goods AS g ON c.goods_id = g.id
	    WHERE 
	        c.user_id = #{userId} 
        	AND g.is_deleted = 0 
	</select>
	
	<!-- 特定のグッズを削除 -->
	<delete id="deleteByGoodsId">
		DELETE FROM cart 
		WHERE user_id = #{userId} 
		AND goods_id = #{goodsId}
	</delete>
	
	<!-- ログインユーザーのカート情報をすべて削除（一括削除） -->
	<delete id="deleteAllByUserId">
		DELETE FROM cart
		WHERE user_id = #{userId}
	</delete>
</mapper>