<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.CartMapper">
	
	<!-- カートのグッズを取得 -->
	<select id="findByGoodsId" resultType="Cart">
		SELECT * FROM cart 
		WHERE user_id = #{userId} 
		AND goods_id = #{goodsId}
	</select>
	
	<!-- カートにグッズを追加 -->
	<insert id="insert">
		INSERT INTO cart (user_id, goods_id, quantity) 
		VALUES (#{userId}, #{goodsId}, #{quantity}) 
	</insert>
	
	<!-- グッズの個数を更新 -->
	<update id="updateQuantity">
		UPDATE cart 
		SET quantity = #{quantity} 
		WHERE goods_id = #{goodsId}
	</update>
	
	<!-- ログインユーザーのカート内のグッズをすべて取得 -->
	<select id="findByUserId" resultType="CartItem">
		SELECT 
			g.id AS goodsId, 
			g.name, 
			g.price, 
			g.image, 
			c.quantity 
		FROM
			cart AS c
		JOIN 
			goods AS g ON c.goods_id = g.id
		WHERE
			c.user_id = #{userId}
	</select>
	
	<!-- 特定のグッズを削除 -->
	<delete id="deleteByGoodsId">
		DELETE FROM cart 
		WHERE user_id = #{userId} 
		AND goods_id = #{goodsId}
	</delete>
	
	<!-- ログインユーザーのカート情報をすべて削除（一括削除） -->
	<delete id="deleteAllByUserId">
		DELETE FROM cart
		WHERE user_id = #{userId}
	</delete>
</mapper>