<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.OrderDetailMapper">

	<insert id="insert">
		INSERT INTO order_detail (
			order_id,
			ordered_image,
			ordered_name,
			ordered_price,
			quantity
		) VALUES (
			#{orderId},
			#{orderedImage},
			#{orderedName},
			#{orderedPrice},
			#{quantity}
		)
	</insert>
	
	<select id="findByOrderId" resultType="OrderDetail">
		SELECT * FROM order_detail 
		WHERE order_id = #{orderId}
	</select>
</mapper>