<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.UserMapper">
	
	<!-- メールアドレスの件数を取得 -->
	<select id="selectCountByEmail" resultType="int">
		SELECT COUNT(*) FROM user 
		WHERE email = #{email} 
	</select>
	
	
	<!-- メールアドレスでユーザー情報を取得 -->
	<select id="selectByEmail" resultType="User">
		SELECT * FROM user WHERE email = #{email}
	</select>
	
	<!-- ユーザー情報1件を登録する -->
	<insert id="insertOne">
		INSERT INTO user(
			name, 
			email, 
			password, 
			zip_code, 
			address
		)
		VALUES (
			#{name}, 
			#{email}, 
			#{password}, 
			#{zipCode}, 
			#{address}
		)
	</insert>
	
	<!-- IDでユーザー情報を取得 -->
	<select id="selectById" resultType="User">
		SELECT * FROM user WHERE id = #{userId}
	</select>
	
	<!-- ユーザー情報を更新 -->
	<update id="updateUser">
		UPDATE user 
		SET
			name = #{name}, 
			email = #{email}, 
			password = #{password}, 
			zip_code = #{zipCode}, 
			address = #{address} 
		WHERE
			id = #{id}
	</update>
	
	<select id="selectAllUsers" resultType="User">
		SELECT * FROM user 
		WHERE is_admin = 0 
		<if test="keyword != null and keyword != ''">
        	AND (name LIKE CONCAT('%', #{keyword}, '%') OR email LIKE CONCAT('%', #{keyword}, '%'))
    	</if>
		ORDER BY id ASC
		LIMIT #{limit} OFFSET #{offset}
	</select>
	
	<select id="selectCountAllUsers" resultType="int">
		SELECT COUNT(*) FROM user 
		WHERE is_admin = 0 
		<if test="keyword != null and keyword != ''">
	        AND (name LIKE CONCAT('%', #{keyword}, '%') OR email LIKE CONCAT('%', #{keyword}, '%'))
	    </if>
	</select>
</mapper>