<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>エラーが発生しました</title>
    
    <!-- CSS読込 -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	
	<!-- JS読込 -->
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
</head>
<body class="bg-light">

    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        
        <div class="card p-5 text-center shadow border border-2 border-dark rounded-4" style="max-width: 500px; width: 100%;">
            
            <div class="display-1 fw-bold text-danger mb-4">！</div>
            
            <h1 class="h4 fw-bold text-dark mb-2">申し訳ございません。</h1>
            <p class="text-secondary fs-5 mb-5">エラーが発生しました。</p>
            
            <form th:action="@{/logout}" method="post" class="d-grid">
			    <button type="submit" class="btn btn-dark btn-lg fw-bold rounded-3 py-3">
			        ログイン画面へ戻る
			    </button>
			</form>
            
        </div>
    </div>

</body>
</html>