<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- CSS読込 -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

<title th:text="#{title.login}"></title>
</head>
<body>
	<div class="container mt-5 mx-auto" style="max-width: 350px;">
		<!-- 大見出し -->
		<h1 class="mb-3 text-center" th:text="#{label.login.title}"></h1>
		<!-- エラーメッセージ -->
		<div th:if="${param.error}" 
				class="alert alert-danger border-danger text-danger alert-dismissible fade show mb-4" 
				role="alert">
			<span th:text="#{msg.login.error}"></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<!-- 入力フォーム -->
		<form th:action="@{/login}" method="post">
			<!--メールアドレス-->
			<div class="mb-3">
				<label class="form-label" th:text="#{label.login.email}"></label>
				<input type="email" name="email" class="form-control">
			</div>
			<!--パスワード-->
			<div class="mb-3">
				<label class="form-label" th:text="#{label.login.password}"></label>
				<input type="password" name="password" class="form-control">
			</div>
			<!--ログインボタン-->
			<div class="d-grid mb-3">
				<button type="submit" class="btn btn-primary btn-lg" th:text="#{btn.login.submit}"></button>
			</div>

			<hr class="text-secondary my-4 opacity-25">

			<!--リンク-->
			<div class="mb-3 text-center">
				<p class="mb-1" th:text="#{msg.login.notYetRegisterUser}"></p>
				<a th:href="@{/user/register}" class="text-decoration-none" th:text="#{link.login.toRegister}"></a>
			</div>
		</form>
	</div>
	<!-- JS読込 -->
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
</body>
</html>