<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>管理者用グッズ一覧</title>
</head>
<body>

<main layout:fragment="content" class="bg-light min-vh-100 py-5">
    <div class="container">
        
        <div class="d-flex justify-content-between align-items-center mb-4">
		    <h2 class="fw-bold text-dark mb-0">グッズ管理一覧</h2>
		    <a th:href="@{/admin/goods/register}" class="btn btn-primary">新規グッズ登録</a>
		</div>
		
		<hr>
        
        <div class="mb-4">
            <a th:href="@{/admin/goods/index(status='active')}" 
               class="btn me-2" 
               th:classappend="${currentStatus == 'active'} ? 'btn-dark' : 'btn-outline-dark'">
                販売中
            </a>
            
            <a th:href="@{/admin/goods/index(status='suspended')}" 
               class="btn" 
               th:classappend="${currentStatus == 'suspended'} ? 'btn-dark' : 'btn-outline-dark'">
                停止中
            </a>
        </div>
        
        <table class="table table-bordered table-hover align-middle bg-white shadow-sm">
            <thead class="table-dark">
                <tr>
                    <th>画像</th>
                    <th>カテゴリ</th>
                    <th>商品名</th>
                    <th>単価</th>
                    
                    <th th:if="${currentStatus == 'active'}">登録日時</th>
                    <th th:if="${currentStatus == 'suspended'}">削除日時</th>
                    
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${goodsList}">
                    <td>
                        <img th:src="${item.imageUrl}" width="80" class="img-fluid rounded" alt="商品画像">
                    </td>
                    <td th:text="${item.category.name}">カテゴリ</td>
                    <td th:text="${item.goods.name}" class="fw-bold">商品名</td>
                    <td th:text="${item.goods.price} + '円'">0円</td>
                    
                  	<td th:if="${currentStatus == 'active'}" 
                  		th:text="${#temporals.format(item.goods.createDateTime, 'yyyy/MM/dd HH:mm')}">
               		</td>
                    
                    <td th:if="${currentStatus == 'suspended'}"
                    	th:text="${#temporals.format(item.goods.deleteDateTime, 'yyyy/MM/dd HH:mm')}">
                    </td>
                    
                    <td>
                    	<a th:href="@{/admin/goods/edit/{id}(id=${item.goods.id})}" class="btn btn-sm btn-primary px-3">更新</a>
                    </td>
                        
                </tr>
            </tbody>
        </table>
        
        <nav aria-label="管理者用グッズ一覧ページナビゲーション" th:if="${totalPages > 0}" class="mt-5">
            <ul class="pagination justify-content-center d-flex gap-1">
            	
            	<li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
					<a class="page-link text-dark border-dark rounded-1" th:href="@{/admin/goods/index(page=${currentPage - 1})}">前へ</a>
				</li>
            	
                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" 
                    th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link text-dark border-dark rounded-1" 
                       th:href="@{/admin/goods/index(status=${currentStatus}, page=${i})}" 
                       th:text="${i + 1}"></a>
                </li>
                
                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
					<a class="page-link text-dark border-dark rounded-1" th:href="@{/admin/goods/index(page=${currentPage + 1})}">次へ</a>
				</li>
            </ul>
        </nav>
        
    </div>
</main>

</body>
</html>